.cabeça {
    background-color: #ffffff;
color: rgb(201, 35, 35);
display:flex;
justify-content: space-around;
}
.imagencabeça{
    width: 15%;
}
.listacabeçaitem  { display: inline;
    margin: 0 15px;

}