*{margin: 0;
    padding: 0; 

}
.cabeça {
    background-color: #ffffff;
color: rgb(201, 35, 35);
display:flex;
justify-content: space-around;
padding: 0 15px;
font-family: 'Changa One', cursive;
}
.imagencabeça{
    width: 15%;
}
.listacabeçaitem  { display: inline;
    margin: 0 15px;
  font-size: 20%;
}
.acidente{
     width: 15%;

}
.listacabeçaitem{
    font-size:30px
}
.fake{
    background-image: linear-gradient(#ffffff,#818181);
}